@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap");

.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@layer base {
  body {
    @apply bg-secondary overflow-hidden leading-relaxed;
    font-family: "National Park", sans-serif;
  }
  .page {
    @apply w-full h-dvh overflow-hidden;
  }
  .h1 {
    @apply text-clamph1 font-semibold leading-normal;
  }
  .h2 {
    @apply text-clamph2 font-semibold leading-normal;
  }
  p {
    @apply text-base lg:text-lg text-white/60 font-light;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg px-4 transition-all;
  }
  .input,
  .textarea {
    @apply transition-all bg-transparent outline-none focus:border-white border border-white/40 placeholder:text-white/40 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-4 rounded-lg resize-none transition-all;
  }
}

.swiper .swiper-wrapper {
  height: 90%;
}

.swal2-container {
  backdrop-filter: blur(3px);
}
.swal2-container .swal2-popup {
  background-color: #1a1a1a;
  border-radius: 20px;
  padding: 65px;
  gap: 45px;
  border-top: 3px solid #f13024;
}

.swal2-popup .swal2-icon {
  margin: 0 auto;
}
.swal2-popup .swal2-icon .swal2-success-ring {
  border-color: #54b435;
  z-index: 1;
}
.swal2-popup .swal2-icon .swal2-success-line-tip,
.swal2-popup .swal2-icon .swal2-success-line-long {
  background-color: #54b435;
}

.swal2-popup .swal2-icon .swal2-success-circular-line-left,
.swal2-popup .swal2-icon .swal2-success-circular-line-right,
.swal2-popup .swal2-icon .swal2-success-fix {
  background-color: inherit !important;
}
.swal2-container .swal2-title {
  color: #fff;
  padding: 0;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 #000;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 #000;
}
